
.barra-lateral {
    position: fixed;

    padding: 5rem 1.5rem;
    height: 100vh;
    left: 0;
    top: 0;
    width: 60vw;
    display: flex;
    flex-direction: column;

    background-color: var(--branco);
    z-index: 2;

    box-shadow: 60vw 0 0 var(--preto-transparente);
    
    transition: .5s;
}
.barra-lateral img{
    width: .75rem;
    height: .75rem;

    position: fixed;
    margin-top: 1.5rem;
    top: 0;

}
.barra-lateral * {
    margin-bottom: 1.5rem;
}
.barra-lateral__link {
    text-decoration: none;
    font-weight: var(--peso-texto-destaque);
    color: var(--azul-escuro);
}

.barra-lateral--oculta {
    left: -100vw;
    box-shadow: none;

    transition: .5s;
}
@media screen and (min-width: 1440px) {
}