@import url(_variaveis.css);

* {
    font-family: var(--fonte-corpo);
    font-size: 16px;
}
.conteudo-ofuscado {
    width: 100vw;
    height: 100vh;

    background-color: var(--preto-transparente);

    position: absolute;
    z-index: 1;

    transition: .5s;
    
}
.content {
    padding: 1rem 2rem;
}

@media screen and (min-width:1440px) {
    .container{
        padding: 3rem 0;
    }
    .principal {
        display: grid;
        grid-template-columns: calc(50% - 7rem/2) calc((50% - 7rem/2));
        box-sizing: border-box;
        gap: 5rem;
    
        
        width: 100%;
        max-width: 1000px;
        height: 100vh;
        padding-top: 10rem;
        margin: 0 auto;
    }
}
