.imagens {
    display: grid;
    grid-template-rows: 5fr auto;
    gap: 0;
}

.imagem-principal {
    width: 100vw;
    top: 0;
    left: 0;
}

.lightbox, .imagens-secundarias {
    display: none;
}
.icone-p, .icone-n {
    position: absolute;
    background-color: white;
    padding: 1.5rem;
    border-radius: 50%;
}

@media screen and (min-width:1440px) {
    .imagens {
        gap: 2rem;
    }
    .imagem-principal  {
        width: 100%;
        border-radius: 20px;
    }
    .imagens-lightbox > .imagem-principal {
        height: auto;
    }
    .imagens-secundarias {
        display: flex;
        justify-content: space-between;
        min-width: 80%;  
        max-width: 100%;
        gap: 1.5rem;
    }
    .imagens-lightbox {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 60vh;
        margin: 20vh 30vw;
    }
    .thumbnail {
        border-radius: 1rem;
        transition: .25s;
        width: 100%;
    }
    .thumbnail:hover {
        cursor: pointer;
        filter:opacity(0.5);
        transition: .25s;
    }
    .thumbnail.imagem-ativa {
        opacity: 0.4;
        border: 3px solid var(--laranja);
    }
    .lightbox-ativo {
        display: inline-block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.596);

        opacity: 1;

    }
    .botao-fechar {
        position: relative;
        margin-left: auto;
        width: 1.5rem;
        filter:brightness(10);
    }
    
}