.imagens {
    display: flex;
    flex-direction: column;
}

.imagem-principal {
    width: 100vw;
    top: 0;
    left: 0;
}

.imagens-secundarias {
    display: none;
}

.icone-p, .icone-n {
    position: absolute;
    background-color: white;
    padding: 1.5rem;
    border-radius: 50%;
}

@media screen and (min-width:1440px) {
    .imagens {
        gap: 2rem;
    }
    .imagens img {
        border-radius: 1rem;
    }

    .imagem-principal  {
        width: 100%;
    }

    .imagens-secundarias {
        display: flex;
        justify-content: space-between;
    }
    
    .thumbnail {
        margin: 0 .5rem;
        width: calc(25% - 1rem);
        transition: .25s;
    }
    .thumbnail:first-child {
        margin-left: 0;
    }
    .thumbnail:last-child {
        margin-right: 0;
    }
    .thumbnail:hover:not(.imagem-ativa) {
        transform: translateY(-.25rem);
        cursor: pointer;
        filter:drop-shadow(0 .25rem 0 black) ;
        transition: .25s;
    }
    .thumbnail.imagem-ativa {
        filter: brightness(110%);
        border: 3px solid var(--laranja);
    }
    
}