.imagem-principal {
    width: 100vw;
    top: 0;
    left: 0;
}

/*---------------------------------*/


@media screen and (min-width:1440px) {
    .principal {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 7rem;

        width: 100vw;
        padding: 10rem 15rem;
    }
    .imagem-principal {
        width: 100%;
        border-radius: 20px;
    }
}