.descricao__carrinho--quantidade {
    justify-content: space-between;
    
    background-color: var(--azul-cinzento-claro);    
}
.descricao__carrinho--quantidade * {
    padding: 0 1rem;
}
.descricao__carrinho--botao {
    background-color: var(--laranja);
    width: 100%;
    color: var(--branco);
    font-weight: var(--peso-texto-destaque);
    justify-content: center;
}

.botao-arredondado {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-radius: 10px;
    border: none;
    padding: 1.25rem 0;
}
.imagem-carrinho {
    padding: 0 1rem;
}

@media screen and (min-width:1440px) {
    .descricao__carrinho {
        display: flex;
    }
    .descricao__carrinho--quantidade {
        margin-right: 1rem;
    }
}